<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Blogify</title>
  </head>
  <body>
    <%- include("./partials/nav") %> <%= JSON.stringify(user) %> <%-
    include("./partials/scripts") %>
  </body>
</html>
